/* Alerts */
.alert {
    margin: 5px;
    padding: 2px;
    padding-inline: 4px;
    font-size: medium;
    border-radius: 10px;
}

.alert-success {
    background-color: rgb(150, 255, 150)
}

.alert-warning {
    background-color: rgb(255, 255, 123);
}

.alert-danger {
    background-color: rgb(255, 122, 122);
}

.alert-info {
    background-color: rgba(0, 128, 128, 0.466);
}

/* Nav bar */
nav {
    padding-bottom: 10px;
    background-color: rgba(46, 159, 235, 0.822);
}

nav ul {
    background-color: burlywood;
    height: auto;
    margin: 0;
    padding: 0;
}

nav li a {
    color: wheat;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-align: center;

}

nav li a:hover {
    color: rgba(46, 159, 235, 0.822);
    background-color: cornsilk;
    border-radius: 5%;
}

/* Form */
form>div {
    margin-bottom: 15px;
}

form input[type="text"],
input[type="password"],
input[type="email"] {
    display: block;
}

form label,
input {
    font-size: large;
}

form input[type="submit"],
.custBtn {
    font-size: large;
    padding: 5px;
    padding-inline: 15px;
    background-color: cornflowerblue;
    border-style: none;
    color: wheat;
}

form input[type="submit"]:hover,
.custBtn:hover {
    font-size: large;
    padding: 5px;
    padding-inline: 15px;
    background-color: cadetblue;
    border-style: none;
    color: wheat;
}

/* Links */

.custLink:link {
    color: cornflowerblue;
    text-decoration: none;
}

.custLink:hover {
    color: orange;
    text-decoration: underline;
}

.custLink:visited {
    color: cornflowerblue;
}

/* Admin pages */
table thead {
    font-size: larger;
}

table thead th,
table td {
    padding-inline: 15px;
}

table td {
    font-size: large;
}

/* Other */

body {
    background-color: wheat;
    color: black;
    margin: 0;
}

body>*:not(nav) {
    margin-left: 8px;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}